<div style="width: 40%; margin: auto; margin-top: 100px">
  <mat-form-field>
    <mat-label>Hello <span style="font-weight: bold">{{userChat.user}}</span></mat-label>
    <input type="text" matInput (change)="myMessage()" [(ngModel)]="userChat.text" placeholder="...Write something">
  </mat-form-field>
  <div class="mt-3">
    <mat-form-field *ngFor="let message of myMessages">
      <mat-label style="font-weight: bold;">{{message.user}}: </mat-label>
      <span>{{message.text}}</span>
    </mat-form-field>
  </div>
</div>
