<div fxLayoutAlign="center center" fxFlexFill class="main-div">
  <mat-card fxFlex="25">
    <mat-toolbar color="primary">Register Page</mat-toolbar>
    <form fxLayoutAlign="stretch" fxLayout="column" class="register-form"
          [formGroup]="formGroup"
          (ngSubmit)="registerProcess()">
      <mat-form-field>
        <input matInput placeholder="E-mail"
               formControlName="email">
      </mat-form-field>

      <mat-form-field>
        <input matInput type="password" placeholder="Password"
               formControlName="password">
      </mat-form-field>
      <button mat-raised-button type="submit" color="primary">Register</button>
    </form>
  </mat-card>

</div>
